<div header-vote></div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="row">
    <div class="col-10"><h2>{{election.title}}: {{election.description}}</h2></div>
    <div class="col-2">
      <span class="float-right">
        <button type="button" class="btn btn-secondary">Need help?</button>
      </span>
    </div>
  </div>
  <div class="card question" ng-repeat="question in election.ballot">
      <h4 class="card-header">{{question.question}}</h4>
      <div class="card-body">
          <p><i>{{question.description}}</i> <br/>{{question.tagline}}</p>
            <div ng-repeat="answer in question.answers">
              <div ballot-question></div>
            </div>
      </div> <!-- end card body -->
  </div> <!-- end question-->
</main>
<div footer-vote></div>
