<h5>Review selections</h3>
<div ng-repeat="question in election.ballot" class="ballot-summary">
<b>{{question.question}}</b>
  <div ng-repeat="answer in question.answers" ng-if="answer.value">
        {{answer.name}}<span ng-if="answer.value !== true">: Rank {{answer.value}}</span>
    </div>
</div>
<hr/>
<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="submitBallot()" ng-if="election.submitted !== true ">Submit Ballot</button>
<div class="alert alert-danger" role="alert" ng-if="(election.submitted == true)">
	You have not answered all of the polls, are you sure you want to submit?
</div>
<button type="button" class="btn btn-primary btn-lg btn-block" ng-if="(election.submitted == true)" ng-click="submitFinal()">Yes, Submit</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" ng-if="(election.submitted == true)" ng-click="election.submitted = false">No, I'll modify my ballot</button>